{% extends "base.html.twig" %}

{% block body %}
    <div id="corps">
        {{ parent() }}
        <nav class="navbar navbar-inverse container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="{{ url('admin') }}">Panel Admin</a></div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url('admin_joueur') }}">Voir joueurs</a></li>
                <li><a href="{{ url('admin_territoire') }}">Voir territoires</a></li>
                <li><a href="{{ url('admin_voir_mp') }}">Voir tous les messages privés</a></li>
                <li><a href="{{ url('admin_voir_mouv') }}">Voir tous les mouvements</a></li>
                <li><a href="{{ url('admin_voir_alli') }}">Voir toutes les alliances</a></li>
                <li><a href="{{ url('admin_news') }}">Ajouter une news</a></li>
                <li><a href="{{ url('admin_ajout_forum') }}">Ajouter une catégorie au forum</a></li>
                <li><a href="{{ url('admin_contact') }}">Voir les tickets de contact</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block js_end %}{{ parent() }}{% endblock %}