{% extends "base.html.twig" %}

{% block body %}
    <div id="corps">
        {{ parent() }}
        <h3>De vous</h3>
        <table>
            <tr><td>Destination</td><td>Arrivée</td></tr>
            {% for data in mouv_vous %}
            	<tr>
            		<td>{{ data.pos_cible }} ({{ data.joueur_cible }})</td>
					<td>Dans {{ vt }} secondes</td>
					<td>{{ type }}</td>
					<td><a href="../info_mouv/{{ id }}/">Plus d\'infos sur le mouvement</a></td>
					<td><a href="../retour_mouv/{{ id }}/">Ordonner le retour</a></td>
            	</tr>
            {% endfor %}
        </table>
        <h3>Vers nous</h3>
        <table>
            <tr><td>Lanceur</td><td>Destination</td><td>Arrivée</td></tr>
            {% for data in mouv_autre %}
            	<tr>
					<td>{{ data.assaillant }}</td>
					<td>{{ data.pos_cible }}</td>
					<td>Dans {{ vt }} secondes</td>
					<td>{{ type }}</td>
				</tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block js_end %}{{ parent() }}{% endblock %}